<div class="page-wrapper">
    <div class="content container-fluid">
      <div class="page-header">
        <div class="row">
            <div class="card-body">
                <div class="h1">
                    SWIFT SENDER
                </div>
                <p>
                    Swift Sender was created by a team of passionate developers dedicated to revolutionizing email communication. We recognized the growing need for a streamlined and efficient way to manage emails, especially in today's fast-paced world. We observed the struggles individuals and teams faced with traditional email methods, including time-consuming manual tasks, difficulty collaborating on drafts, lack of organization or tracking capabilities.
                </p>
            </div>

        </div>
       </div>
    </div>
</div>