<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12 mt-5">
                    <h3 class="page-title mt-3">Good Morning Soeng Souy!</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item active">Send Email</li>
                    </ul>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12" d-flex">

    <form action="/admin/send-email" method="post" >
      <div class="row">
        <div class="col-md-6">
          <label for="" class="form-label">Reciever Email</label>
          <input type="text" name="receiverEmail" class="form-control" placeholder="Enter the reciever's Email Address">
        </div>
        <div class="col-md-6">
          <label for="" class="form-label">Subject</label>
          <input type="text" name="subject" class="form-control" placeholder="Type the subject of your message">
        </div>
      </div>
      <div class="form-group">
        <label for="">Email Content</label>
        <textarea name="body" class="form-control" id="" rows="5" placeholder="Type Your Message"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Send Email</button>
    </form>
            </div>
        </div>
    </div>
</div>