    <!--========== Feature Section Start ==============-->
    <section class="feature-section-two">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7">
                    <div class="feature-content-box">
                        <div class="tj-sec-heading">
                            <h2 class="title">
                                Handle all your Emails in <span class="active-color"> one place</span>
                            </h2>
                            <p class="desc">
                                But I must explain to you how all this mistaken idea of denouncing pleasure and
                                praising pain was born and I will give you a complete of the system, and teachings
                                of the great explorer of the the master-builder of human happiness.
                            </p>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="feature-item-two hover-shape-border">
                                    <div class="feature-icon">
                                        <i class="fa-solid fa-gauge-high"></i>
                                    </div>
                                    <div class="feature-content">
                                        <h5 class="title">
                                            <a class="title-link" href="#">Enhanced Emails Speed</a>
                                        </h5>
                                        <p class="desc">
                                            Bulk Sending: Email applications can efficiently handle sending emails to large numbers of recipients simultaneously, saving time and effort.
                                            Automation: Many applications allow for automated email campaigns based on specific triggers or schedules, increasing efficiency.
                                        </p>
                                    </div>
                                    <div class="feature-item-shape">
                                        <span class="border-shadow shadow-1"></span>
                                        <span class="border-shadow shadow-2"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="feature-item-two margin_top hover-shape-border">
                                    <div class="feature-icon">
                                        <i class="fa-solid fa-truck"></i>
                                    </div>
                                    <div class="feature-content">
                                        <h5 class="title">
                                            <a class="title-link" href="#">Enhanced Deliverability</a>
                                        </h5>
                                        <p class="desc">
                                            Reputation Management: Email sending applications often have features to manage email sender reputation, increasing the likelihood of emails reaching the intended recipients without being marked as spam.
                                            IP Warm-up: Some applications offer IP warm-up services, which gradually establish a good sender reputation with email providers.
                                        </p>
                                    </div>
                                    <div class="feature-item-shape">
                                        <span class="border-shadow shadow-1"></span>
                                        <span class="border-shadow shadow-2"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="feature-item-two hover-shape-border">
                                    <div class="feature-icon">
                                        <i class="fa-solid fa-chart-line"></i>
                                    </div>
                                    <div class="feature-content">
                                        <h5 class="title"><a class="title-link" href="#">Advanced Features and Analytics</a></h5>
                                        <p class="desc">
                                            TCustomization: These applications often provide templates, personalization options, and A/B testing capabilities to enhance email content and effectiveness.
                                            Analytics: Detailed tracking and reporting on email performance, including open rates, click-through rates, and bounce rates, help optimize campaigns.
                                        </p>
                                    </div>
                                    <div class="feature-item-shape">
                                        <span class="border-shadow shadow-1"></span>
                                        <span class="border-shadow shadow-2"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="feature-item-two margin_top hover-shape-border">
                                    <div class="feature-icon">
                                        <i class="fa-solid fa-dna"></i>
                                    </div>
                                    <div class="feature-content">
                                        <h5 class="title">
                                            <a class="title-link" href="#">Scalability</a>
                                        </h5>
                                        <p class="desc">
                                            Handling Large Volumes: Email sending applications can handle high volumes of emails without compromising performance or deliverability.
                                            Adaptability: They can scale to accommodate varying email sending needs, from small businesses to large enterprises.
                                        </p>
                                    </div>
                                    <div class="feature-item-shape">
                                        <span class="border-shadow shadow-1"></span>
                                        <span class="border-shadow shadow-2"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="feature-geroup-image">
                        <div class="feature-text"><i class="flaticon-checkmark"></i> Design Homepage</div>
                        <div class="feature-text-two"><i class="flaticon-checkmark"></i> Development</div>
                        <img class="image-1 shake-y" src="images/feature-1.png" alt="Image">
                        <img class="image-2 pulse" src="images/feature-2.png" alt="Image">
                        <img class="image-3 pulse" src="images/feature-3.png" alt="Image">
                    </div>
                </div>
            </div>
        </div>
        <div class="feature-shape">
            <img src="images/overly-11.svg" alt="Shape">
        </div>
        <div class="feature-shape1 shake-y">
            <img src="images/sec-shape11.svg" alt="Shape">
        </div>
    </section>
    <!--========== Feature Section End ==============-->

    <!--========== Solution Section Start ==============-->
    <section class="tj-solution-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="tj-solution-content-one">
                        <div class="tj-sec-heading">
                            <h2 class="title">One inbox, many <span class="active-color"> Possibilities</span></h2>
                            <p class="desc">
                                Simplify your communication with our all-in-one email app.  Manage all your accounts from a single platform, send and receive emails with ease, and stay organized with powerful features. 
                            </p>
                            <div class="check-list">
                                <ul class="list-gap">
                                    <li>
                                        <i class="flaticon-checkmark"></i> Manage all your email accounts in one place.
                                    </li>
                                    <li>
                                        <i class="flaticon-checkmark"></i> Send and receive emails quickly and efficiently.
                                    </li>
                                </ul>
                            </div>
                            <div class="tj-solution-button">
                                <a class="tj-primary-btn" href="contact.html"> Start for free</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="solution-group-image">
                        <img class="image-1 shake-y" src="images/solution-1.png" alt="Image">
                        <img class="image-2 pulse" src="images/solution-2.png" alt="Image">
                        <img class="image-3 pulse" src="images/solution-3.png" alt="Image">
                        <img class="image-4 pulse" src="images/solution-4.png" alt="Image">
                        <img class="image-5 pulse" src="images/sec-shape12.svg" alt="Image">
                    </div>
                </div>
            </div>
        </div>
        <div class="tj-circle-box-one-2">
            <span class="circle_1"></span>
            <span class="circle_2"></span>
            <span class="circle_3"></span>
            <span class="circle_4"></span>
            <span class="circle_5"></span>
            <span class="circle_6"></span>
            <span class="circle_7"></span>
            <span class="circle_8"></span>
            <span class="circle_9"></span>
        </div>
    </section>
    <!--========== Solution Section End ==============-->
    <!--========== Video Section Start ==============-->
    <section class="tj-video-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="tj-video-area text-center">
                        <div class="tj-video-popup">
                            <div class="circle pulse video-icon">
                                <a class="venobox popup-videos-button" data-autoplay="true" data-vbtype="video" href="https://www.youtube.com/watch?v=ADmQTw4qqTY">
                                    <img src="images/play.svg" alt="Play">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--========== Video Section End ==============-->

    <!--========== Testimonial Section Start ==============-->
    <section class="tj-testimonial-slider-section" data-bg-image="assets/images/shape/group-overly4.svg">
        <div class="container">
            <div class="row">
                <div class="tj-sec-heading text-center">
                    <span class="sub-title"> Testimonials</span>
                    <h2 class="title">What they say about us</h2>
                    <p class="desc">
                        What our clients are saying!  Here are testimonials from satisfied users who love our email app.
                    </p>
                </div>
            </div>
        </div>
        <div class="swiper-container roll-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="testimonial-slider-item">
                        <div class="testimonial-content-box">
                            <div class="testimonial-top-header">
                                <div class="testimonial-image">
                                    <img src="images/test-2.png" alt="Image">
                                </div>
                                <div class="testimonial-auother">
                                    <h6 class="title">Peter Buckland</h6>
                                    <span> CEO-at Company</span>
                                    <div class="testimonial-rating">
                                        <ul class="list-gap">
                                            <li><i class="fa-solid fa-star"></i></li>
                                            <li><i class="fa-solid fa-star"></i></li>
                                            <li><i class="fa-solid fa-star"></i></li>
                                            <li><i class="fa-solid fa-star"></i></li>
                                            <li><i class="fa-solid fa-star-half-stroke"></i></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="testimonial-arrow">
                                <img src="images/arrow-2.png" alt="Icon">
                            </div>
                        </div>
                        <p class="desc">
                            "Before using this app, my inbox was a constant source of stress. Now, with all my accounts in one place, I can manage my emails efficiently and get so much more done!" 
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="testimonial-slider-item">
                        <div class="testimonial-content-box">
                            <div class="testimonial-top-header">
                                <div class="testimonial-image">
                                    <img src="images/test-3.png" alt="Image">
                                </div>
                                <div class="testimonial-auother">
                                    <h6 class="title">Joseph Manning</h6>
                                    <span> Team Lead</span>
                                    <div class="testimonial-rating">
                                        <ul class="list-gap">
                                            <li><i class="fa-solid fa-star"></i></li>
                                            <li><i class="fa-solid fa-star"></i></li>
                                            <li><i class="fa-solid fa-star"></i></li>
                                            <li><i class="fa-solid fa-star"></i></li>
                                            <li><i class="fa-solid fa-star-half-stroke"></i></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="testimonial-arrow">
                                <img src="images/arrow-2.png" alt="Icon">
                            </div>
                        </div>
                        <p class="desc">
                            "This email app has transformed my team communication. The ability to collaborate on emails and share inboxes has been a game-changer for our workflow. We're all on the same page."
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-container roll-slider2">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="testimonial-slider-item">
                        <div class="testimonial-content-box">
                            <div class="testimonial-top-header">
                                <div class="testimonial-image">
                                    <img src="images/test-2.png" alt="Image">
                                </div>
                                <div class="testimonial-auother">
                                    <h6 class="title">Peter Buckland</h6>
                                    <span> FreeLancer</span>
                                    <div class="testimonial-rating">
                                        <ul class="list-gap">
                                            <li><i class="fa-solid fa-star"></i></li>
                                            <li><i class="fa-solid fa-star"></i></li>
                                            <li><i class="fa-solid fa-star"></i></li>
                                            <li><i class="fa-solid fa-star"></i></li>
                                            <li><i class="fa-solid fa-star-half-stroke"></i></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="testimonial-arrow">
                                <img src="images/arrow-2.png" alt="Icon">
                            </div>
                        </div>
                        <p class="desc">
                            "I love the user-friendly interface of this app. Sending and receiving emails is effortless, and the organization features are fantastic. I can finally find what I need in seconds, which saves me a ton of time."
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="testimonial-slider-item">
                        <div class="testimonial-content-box">
                            <div class="testimonial-top-header">
                                <div class="testimonial-image">
                                    <img src="images/test-3.png" alt="Image">
                                </div>
                                <div class="testimonial-auother">
                                    <h6 class="title">Joseph Manning</h6>
                                    <span> Business Owner</span>
                                    <div class="testimonial-rating">
                                        <ul class="list-gap">
                                            <li><i class="fa-solid fa-star"></i></li>
                                            <li><i class="fa-solid fa-star"></i></li>
                                            <li><i class="fa-solid fa-star"></i></li>
                                            <li><i class="fa-solid fa-star"></i></li>
                                            <li><i class="fa-solid fa-star-half-stroke"></i></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="testimonial-arrow">
                                <img src="images/arrow-2.png" alt="Icon">
                            </div>
                        </div>
                        <p class="desc">
                            "As a small business owner, security is paramount. This email app gives me peace of mind with its robust security features. Plus, I can always rely on it to deliver my emails quickly and efficiently, which is crucial for my business." 
                        </p>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <div class="tj-circle-box-one">
            <span class="circle_1"></span>
            <span class="circle_2"></span>
            <span class="circle_3"></span>
            <span class="circle_4"></span>
            <span class="circle_5"></span>
            <span class="circle_6"></span>
            <span class="circle_7"></span>
            <span class="circle_8"></span>
            <span class="circle_9"></span>
        </div>
    </section>
    <!--========== Testimonial Section End ==============-->

    <!--========== Communication Section Start ==============-->
    <section class="tj-communication-section">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="tj-communication-content">
                        <div class="tj-sec-heading">
                            <h2 class="title">
                                All Emails at one place.
                                <span class="active-color"> Accomplish Faster</span>
                            </h2>
                            <p class="desc">
                                Ditch the inbox chaos and streamline your communication. Our app lets you manage all your accounts in one place, find what you need instantly, and send and receive emails with ease. Get more done, faster, with every message.
                            </p>
                            <div class="tj-communication-button">
                                <a class="tj-black-btn" href="/signup">Get Started</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="communication-image shake-y">
                        <img src="images/communication.png" alt="Image">
                    </div>
                </div>
            </div>
        </div>
        <div class="communication-shape pulse">
            <img src="images/sec-shape13.svg" alt="Image">
        </div>
    </section>
    <!--========== Communication Section End ==============-->